body
{
    background: url(./Images/pexels-pixabay-50987.jpg) no-repeat center center fixed;
}

#snp
{
    margin-top: 150px;
}
#snn
{
    margin-top: 150px;
}
.btnn
{
    margin-left: 500px;
}
.btn2
{
    margin-left: 25px;
}
